---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "reset";
@import "variables";
@import "mixins";
@import "layout";
@import "typography";
@import "home";
@import "svg";
@import url('../font/fonts.css');
