.border {
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	padding-top: 10px;
}

.style-column {
	margin-bottom: 2.5em;
}

.styleguide-header img {
	margin-left: -30px;
}

ul.styleguide-nav li {
	margin-bottom: 1em;
}

.style-head-content, .style-head-inner {
	color: #999999;
}

.style-head {
	color: #311c79;
	display: inline-block;
	vertical-align: 40px;
	margin-left: 5px;
}

.style-head-content, .style-head-inner {
	padding-top: .2em;
	margin-bottom: 1em;
	border-top: 1px solid #e1e0df;	
}

.style-head-inner {
	margin: 1.4em 0 1em 0;
}

h6.style-code {
	font-weight: 400;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.125em; /* 18/16 */
	line-height: 1.27777778em; /* 23/16 */	
	background-color: #c3c3c3;
	color: white;
	padding: .1em .2em;
	margin: .5em 0;
	display: inline-block;
}

h6.style-code:after {
	display: block;
	clear: both;
}

.projection-fpo {
	background: url(../img/projection_fpo.png) no-repeat;
	height: 150px;
	width: 546px;
	margin-bottom: 20px;
}

.projection-head {
	position: relative;
	top: 35px;
}




