---
layout: home
---

<header class="header hcover">
	<div class="header__hgroup">
		<h1 class="header__title"><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
		<h2 class="header__sub">Designing graphics <br>and crafting experiences <br>since 2006</h2>
	</div>
	<div class="monogram-bg"></div>
	<div class="monogram-cover"></div>
	<div class="monogram"></div>


</header>

<div class="front">

<section class="section projects">
	<h2 class="section__title">Projects</h2> 
	<ul class="section__list">
		{% assign sorted = (site.projects | sort: 'date') | reverse %}
		{% for item in sorted %}
		<li class="section__list-item">
			<a href="{{ item.url }}">
				<div class="section__img-outer {% if item.thumb_class %}border{% endif %}">
					{% include imgsrc-thumb.html %}
				</div>
				<div class="section__p-title-outer">
					<div class="section__p-title">
						{{ item.title }}
					</div>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</section>

<section class="section writing">
	<h2 class="section__title">Writing</h2>

	<ul class="writing__list">
		<li class="writing__list-item">
			<a href="https://medium.com/@nolan5million/designing-a-quiz-about-police-e64a7429831b#.bsewjo4z7">
				<div class="btn-text">Designing a Quiz About Police</div>
				<div class="btn-label">> Medium</div>
			</a>
		</li>
	</ul>


</section>

</div>

