---
layout: default
---

<header class="header">
	<div class="header__hgroup">
		<h1 class="header__title"><a href="">Dan Nolan</a></h1>
		<h2 class="header__sub">—Zika Story</h2>
	</div>

	<nav class="nav">
		<ul class="nav__list">
			<li class="nav__list-item"><a href=""><span class="pre">Prev</span> <span class="text">Project</span></a></li>
			<li class="nav__list-item"><a href=""><span class="pre">Next</span> <span class="text">Project</span></a></li>
		</ul>
	</nav>
</header>

<div class="main">
	<img class="main__img" src="../img/mountain.jpg" >
</div>

<section class="content">
	<div class="content__text description">
		<p>Ad nec labore delenit disputationi, ei simul praesent suavitate eum. Usu noster mollis te, sed ut propriae perpetua adversarium, quem intellegebat at vel. Ius reque oporteat et. Has et eius brute exerci, lorem labore blandit vix an. Corpora conclusionemque his ad, his laoreet intellegam an. Pro ridens perfecto ex, ei usu patrioque voluptaria consectetuer, vix ne summo consul.</p>
	</div>

	<nav class="nav nav--secondary">
		<ul class="nav__list">
			<li class="nav__list-item"><a href=""><span class="pre">Prev</span> <span class="text">Project</span></a></li>
			<li class="nav__list-item"><a href=""><span class="pre">Next</span> <span class="text">Project</span></a></li>
			<li class="nav__list-item nav__list-item--stacked"><a href="">Home</a></li>
		</ul>
	</nav>
</section>

{% capture projects %}{{ page.collection }}{% endcapture %}

{% if page.collection %}
  {% assign document = site[projects] %}
{% endif %}

{% for links in document %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexttitle = next.title %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

{% if prevurl %}<a href="{{ prevurl }}">Previous: {{ prevtitle l}}</a>{% endif %}<br />
{% if nexturl %}<a href="{{ nexturl }}">Next: {{ nexttitle }}</a>{% endif %}

<script>
/* post pagination keyboard shortcuts */
document.body.onkeyup = function(e){
  if (e.keyCode == '37') { window.location = '{{ prevurl }}'; } // left arrow key
  if (e.keyCode == '39') { window.location = '{{ nexturl }}'; } // right arrow key
};
</script>

<footer class="footer">
	<ul class="footer__list">
		<li class="footer__list-item"></li>
	</ul>
</footer>
