<div class="cover-outer cover-outer--fill">
	<div class="cover{% if include.width %} {{ include.width }}{% endif %}">
		{% if include.class == 'mobile' %}
		<div class="split mobile">
			{% include imgsrc-split-shadow-1.html %}
		</div>
		{% else %}
		<div class="split{% if include.class == 'split-7-5' %} split-7{% endif %}">
			{% include imgsrc-split-shadow-1.html %}
		</div>
		{% endif %}

		{% if include.class == 'mobile' %}
		<div class="split mobile m">
			{% include imgsrc-split-m-shadow-2.html %}
		</div>
		{% else %}
		<div class="split {% if include.class == 'split-7-5' %} split-5{% endif %}">
			{% include imgsrc-split-shadow-2.html %}
		</div>
		{% endif %}
	</div>
</div>




