{% if include.inline_img1 contains '.jpg' %}
<img class="main__img shadow" src="../img/{{ include.inline_img1 | replace: '.jpg', '-860.jpg' }}"
	alt="{{ include.alt }}"
	sizes="(min-width:890px) 816px, (min-width:542px) 860px, 512px"
	srcset="../img/{{ include.inline_img1 | replace: '.jpg', '-512.jpg' }} 512w,
			../img/{{ include.inline_img1 | replace: '.jpg', '-860.jpg' }} 860w,
			../img/{{ include.inline_img1 | replace: '.jpg', '-1024.jpg' }} 1024w,
			../img/{{ include.inline_img1 | replace: '.jpg', '-1632.jpg' }} 1632w"
/>
{% endif %}
{% if include.inline_img1 contains '.png' %}
<img class="main__img shadow" src="../img/{{ include.inline_img1 | replace: '.png', '-860.png' }}"
	alt="{{ include.alt }}"
	sizes="(min-width:890px) 816px, (min-width:542px) 860px, 512px"
	srcset="../img/{{ include.inline_img1 | replace: '.png', '-512.png' }} 512w,
			../img/{{ include.inline_img1 | replace: '.png', '-860.png' }} 860w,
			../img/{{ include.inline_img1 | replace: '.png', '-1024.png' }} 1024w,
			../img/{{ include.inline_img1 | replace: '.png', '-1632.png' }} 1632w"
/>
{% endif %}