{% comment %}

**This has not been started yet, check homepage thumb markup

{% endcomment %}

{% if include.inline_img contains '.jpg' %}
<img class="main__img{% if include.class == 'border' %} border{% endif %}" src="../img/{{ include.inline_img | replace: '.jpg', '-860.jpg' }}"
	alt="{{ include.alt }}"
	sizes="(min-width:890px) 660px, (min-width:542px) 860px, 512px"
	srcset="../img/{{ include.inline_img | replace: '.jpg', '-512.jpg' }} 512w,
			../img/{{ include.inline_img | replace: '.jpg', '-660.jpg' }} 660w,
			../img/{{ include.inline_img | replace: '.jpg', '-860.jpg' }} 860w,
			../img/{{ include.inline_img | replace: '.jpg', '-1024.jpg' }} 1024w,
			../img/{{ include.inline_img | replace: '.jpg', '-1320.jpg' }} 1320w,
			../img/{{ include.inline_img | replace: '.jpg', '-1720.jpg' }} 1720w"
/>
{% endif %}
{% if include.inline_img contains '.png' %}
<img class="main__img{% if include.class == 'border' %} border{% endif %}" src="../img/{{ include.inline_img | replace: '.png', '-860.png' }}"
	alt="{{ include.alt }}"
	sizes="(min-width:890px) 660px, (min-width:542px) 860px, 512px"
	srcset="../img/{{ include.inline_img | replace: '.png', '-512.png' }} 512w,
			../img/{{ include.inline_img | replace: '.png', '-660.png' }} 660w,
			../img/{{ include.inline_img | replace: '.png', '-860.png' }} 860w,
			../img/{{ include.inline_img | replace: '.png', '-1024.png' }} 1024w,
			../img/{{ include.inline_img | replace: '.png', '-1320.png' }} 1320w,
			../img/{{ include.inline_img | replace: '.png', '-1720.png' }} 1720w"
/>
{% endif %}