{% if include.inline_img contains '.jpg' %}
<img class="main__img{% if include.class == 'border' %} border{% endif %}" src="../img/{{ include.inline_img | replace: '.jpg', '-860.jpg' }}"
	alt="{{ include.alt }}"
	sizes="(min-width:890px) 660px, (min-width:542px) 860px, 512px"
	srcset="../img/{{ include.inline_img | replace: '.jpg', '-512.jpg' }} 512w,
			../img/{{ include.inline_img | replace: '.jpg', '-660.jpg' }} 660w,
			../img/{{ include.inline_img | replace: '.jpg', '-860.jpg' }} 860w,
			../img/{{ include.inline_img | replace: '.jpg', '-1024.jpg' }} 1024w"
/>
{% endif %}
{% if include.inline_img contains '.png' %}
<img class="main__img{% if include.class == 'border' %} border{% endif %}" src="../img/{{ include.inline_img | replace: '.png', '-860.png' }}"
	alt="{{ include.alt }}"
	sizes="(min-width:890px) 660px, (min-width:542px) 860px, 512px"
	srcset="../img/{{ include.inline_img | replace: '.png', '-512.png' }} 512w,
			../img/{{ include.inline_img | replace: '.png', '-660.png' }} 660w,
			../img/{{ include.inline_img | replace: '.png', '-860.png' }} 860w,
			../img/{{ include.inline_img | replace: '.png', '-1024.png' }} 1024w"
/>
{% endif %}
{% if include.inline_img contains '.gif' %}
<img class="main__img{% if include.class == 'border' %} border{% endif %}" src="../img/{{ include.inline_img | replace: '.gif', '-660.gif' }}"
	alt="{{ include.alt }}"
	sizes="(min-width:890px) 660px, (min-width:542px) 860px, 512px"
	srcset="../img/{{ include.inline_img | replace: '.gif', '-512.gif' }} 512w,
			../img/{{ include.inline_img | replace: '.gif', '-660.gif' }} 660w"
/>
{% endif %}