{% comment %}

{% endcomment %}

{% if item.thumbnail contains '.jpg' %}
<img class="section__img" src="img/{{ item.thumbnail | replace: '.jpg', '-656.jpg' }}"
	alt="{{ item.thumb_alt }}"
	sizes="(min-width:890px) 328px, (min-width:650px) 207px, 619px"
	srcset="img/{{ item.thumbnail | replace: '.jpg', '-207.jpg' }} 207w,
			img/{{ item.thumbnail | replace: '.jpg', '-414.jpg' }} 414w,
			img/{{ item.thumbnail | replace: '.jpg', '-656.jpg' }} 656w,
			img/{{ item.thumbnail | replace: '.jpg', '-1238.jpg' }} 1238w"
/>
{% endif %}
{% if item.thumbnail contains '.png' %}
<img class="section__img" src="img/{{ item.thumbnail | replace: '.png', '-656.png' }}"
	alt="{{ item.thumb_alt }}"
	sizes="(min-width:890px) 328px, (min-width:650px) 207px, 619px"
	srcset="img/{{ item.thumbnail | replace: '.png', '-207.png' }} 207w,
			img/{{ item.thumbnail | replace: '.png', '-414.png' }} 414w,
			img/{{ item.thumbnail | replace: '.png', '-656.png' }} 656w,
			img/{{ item.thumbnail | replace: '.png', '-1238.png' }} 1238w"
/>
{% endif %}