{% if include.inline_img2 contains '.jpg' %}
<img class="main__img{% if include.class2 %} {{ include.class2 }}{% endif %}" src="../img/{{ include.inline_img2 | replace: '.jpg', '-860.jpg' }}"
	alt="{{ include.alt2 }}"
	sizes="(min-width:890px) 816px, (min-width:542px) 860px, 512px"
	srcset="../img/{{ include.inline_img2 | replace: '.jpg', '-512.jpg' }} 512w,
			../img/{{ include.inline_img2 | replace: '.jpg', '-860.jpg' }} 860w,
			../img/{{ include.inline_img2 | replace: '.jpg', '-960.jpg' }} 960w"
/>
{% endif %}
{% if include.inline_img2 contains '.png' %}
<img class="main__img{% if include.class2 %} {{ include.class2 }}{% endif %}" src="../img/{{ include.inline_img2 | replace: '.png', '-860.png' }}"
	alt="{{ include.alt2 }}"
	sizes="(min-width:890px) 816px, (min-width:542px) 860px, 512px"
	srcset="../img/{{ include.inline_img2 | replace: '.png', '-512.png' }} 512w,
			../img/{{ include.inline_img2 | replace: '.png', '-860.png' }} 860w,
			../img/{{ include.inline_img2 | replace: '.png', '-960.png' }} 960w"
/>
{% endif %}