{% if include.inline_img2 contains '.jpg' %}
<img class="main__img{% if include.class1 %} {{ include.class2 }}{% endif %}" src="../img/{{ include.inline_img2 | replace: '.jpg', '-626.jpg' }}"
	alt="{{ include.alt2 }}"
	sizes="94.1060903732809vw, (min-width:510px) 46.681664791901vw, (min-width:890px) 22.3571428571429vw"
	srcset="../img/{{ include.inline_img2 | replace: '.jpg', '-313.jpg' }} 313w,
			../img/{{ include.inline_img2 | replace: '.jpg', '-479.jpg' }} 479w,
			../img/{{ include.inline_img2 | replace: '.jpg', '-626.jpg' }} 626w,
			../img/{{ include.inline_img2 | replace: '.jpg', '-830.jpg' }} 830w"
/>
{% endif %}
{% if include.inline_img2 contains '.png' %}
<img class="main__img{% if include.class2 %} {{ include.class1 }}{% endif %}" src="../img/{{ include.inline_img2 | replace: '.png', '-626.png' }}"
	alt="{{ include.alt2 }}"
	sizes="94.1060903732809vw, (min-width:510px) 46.681664791901vw, (min-width:890px) 22.3571428571429vw"
	srcset="../img/{{ include.inline_img2 | replace: '.png', '-313.jpg' }} 313w,
			../img/{{ include.inline_img2 | replace: '.png', '-479.jpg' }} 479w,
			../img/{{ include.inline_img2 | replace: '.png', '-626.jpg' }} 626w,
			../img/{{ include.inline_img2 | replace: '.png', '-830.jpg' }} 830w"
/>
{% endif %}


{% comment %}
{% if include.inline_img2 contains '.jpg' %}
<img class="main__img{% if include.class2 %} {{ include.class2 }}{% endif %}" src="../img/{{ include.inline_img2 }}"
	alt="{{ include.alt2 }}"
/>
{% endif %}
{% if include.inline_img2 contains '.png' %}
<img class="main__img{% if include.class2 %} {{ include.class2 }}{% endif %}" src="../img/{{ include.inline_img2 }}"
	alt="{{ include.alt2 }}"
/>
{% endif %}
{% endcomment %}
