<div class="inline inline--wide">
	<div class="inline__fill-inner">
		<div class="thirds{% if include.mod %} {{ include.mod }}{% endif %}">
			<img class="main__img{% if include.class %} {{ include.class }}{% endif %}" src="../img/{{ include.inline_img1 }}" >
		</div>
		<div class="thirds{% if include.mod %} {{ include.mod }}{% endif %}">
			<img class="main__img{% if include.class %} {{ include.class }}{% endif %}" src="../img/{{ include.inline_img2 }}" >
		</div>
		<div class="thirds{% if include.mod %} {{ include.mod }}{% endif %}">
			<img class="main__img{% if include.class %} {{ include.class }}{% endif %}" src="../img/{{ include.inline_img3 }}" >
		</div>
	</div>
</div>