<div class="inline inline--wide">
	<div class="inline__fill-inner{% if include.width %} {{ include.width }}{% endif %}">
		<div class="split{% if include.class == 'mobile' %} mobile{% endif %}">
		{% if include.res == 'low' %}
			{% include imgsrc-split-1-low.html %}
		{% else %}
			{% include imgsrc-split-1.html %}
		{% endif %}
		</div>
		{% if include.class == 'mobile' %}
		<div class="split mobile m">
			{% include imgsrc-split-m-2.html %}
		</div>
		{% else %}
		<div class="split">
		{% if include.res == 'low' %}
			{% include imgsrc-split-2-low.html %}
		{% else %}
			{% include imgsrc-split-2.html %}
		{% endif %}
		</div>
		{% endif %}
	</div>

	{% if include.caption %}
	<p class="caption">{{ include.caption }}</p>
	{% endif %}
</div>

{% comment %}
<div class="inline inline--wide">
	<div class="inline__fill-inner">
		<div class="split">
			{% include imgsrc-split-1.html %}
		</div>
		<div class="split">
			{% include imgsrc-split-2.html %}
		</div>
	</div>
</div>
{% endcomment %}