<div class="inline inline--wide">
	<div class="inline__fill-inner{% if include.width %} {{ include.width }}{% endif %}">
		<div class="split{% if include.class == 'mobile' %} mobile{% endif %}">
			{% include imgsrc-split-1.html %}
		</div>
		{% if include.class == 'mobile' %}
		<div class="split mobile m">
			{% include imgsrc-split-m-2.html %}
		</div>
		{% else %}
		<div class="split">
			{% include imgsrc-split-2.html %}
		</div>
		{% endif %}
	</div>
</div>

{% comment %}
<div class="inline inline--wide">
	<div class="inline__fill-inner">
		<div class="split">
			{% include imgsrc-split-1.html %}
		</div>
		<div class="split">
			{% include imgsrc-split-2.html %}
		</div>
	</div>
</div>
{% endcomment %}