<div class="cover-outer cover-outer police">
	<div class="cover inline-borders">
		<div class="row">
			<div class="thirds thirds--pol">
				<img class="main__img" src="../img/indianapolis.gif" >
			</div>
			<div class="thirds thirds--pol">
				<img class="main__img" src="../img/terry.gif" >
			</div>
			<div class="thirds thirds--pol">
				<img class="main__img" src="../img/cortez.gif" >
			</div>
			</div>
		<div class="row">
			<div class="thirds thirds--pol">
				<img class="main__img" src="../img/wardlow.gif" >
			</div>
			<div class="thirds thirds--pol">
				<img class="main__img" src="../img/jl.gif" >
			</div>
			<div class="thirds thirds--pol">
				<img class="main__img" src="../img/mimms.gif" >
			</div>
		</div>
	</div>
</div>