<div class="cover-outer police">
	<div class="cover inline-borders">
		<div class="row">
			<div class="thirds thirds--pol">
				{% include img-src.html inline_img='indianapolis.gif' %}
			</div>
			<div class="thirds thirds--pol">
				{% include img-src.html inline_img='terry.gif' %}
			</div>
			<div class="thirds thirds--pol">
				{% include img-src.html inline_img='cortez.gif' %}
			</div>
			</div>
		<div class="row">
			<div class="thirds thirds--pol">
				{% include img-src.html inline_img='wardlow.gif' %}
			</div>
			<div class="thirds thirds--pol">
				{% include img-src.html inline_img='jl.gif' %}
			</div>
			<div class="thirds thirds--pol">
				{% include img-src.html inline_img='mimms.gif' %}
			</div>
		</div>
	</div>
</div>