<div class="cover-outer police">
	<div class="cover inline-borders">
		<div class="row">
			<div class="thirds thirds--pol">
				{% include img-src.html inline_img='indianapolis.gif' alt='Illustration of a police officer stopping a car.' %}
			</div>
			<div class="thirds thirds--pol">
				{% include img-src.html inline_img='terry.gif' alt='Illustration of hands of a police officer frisking a suspect.' %}
			</div>
			<div class="thirds thirds--pol">
				{% include img-src.html inline_img='cortez.gif' alt='Illustration showing footprints in the desert leading up to a pickup truck with a camper.' %}
			</div>
			</div>
		<div class="row">
			<div class="thirds thirds--pol">
				{% include img-src.html inline_img='wardlow.gif' alt='Illustration showing a suspect fleeing from a known drug dealing area.' %}
			</div>
			<div class="thirds thirds--pol">
				{% include img-src.html inline_img='jl.gif' alt='Illustration showing a person making an anonymous tip phone call about a gun.' %}
			</div>
			<div class="thirds thirds--pol">
				{% include img-src.html inline_img='mimms.gif' alt='Illustration showing police officers stopping a car.' %}
			</div>
		</div>
	</div>
</div>