body, html {
	height: 100%;
}

.section {
	@include max-width-grid;
	margin-top: $gutter/2;
	&__title {
		@include copy-hed;
		@include copy-caps;
		font-size: $size-h5;
		padding: 0 $gutter/2;
		margin-bottom: $gutter;
	}
	&__title:before {
		@include before-after;
		width: $gutter;
		border-bottom: 2px solid $light-gray;
		margin-bottom: .5em;
	}
	&__list {
		list-style-type: none;
		@include clearfix;
		margin: 0;
	}
	&__list-item {
		padding: 0 $gutter/2;
		@include media-query($bp-midrange) {
			@include grid;
			width: $col-6;
		}
		margin-bottom: $gutter*2;
		a {
			@include clearfix;
			display: block;
			pointer-events: none;
		}
	}
	&__img-outer {
		margin-bottom: $gutter/2;
		pointer-events: auto;
		@include media-query($bp-midrange) {
			float: left;
			width: $col-6;
			margin-bottom: 0;
		}
	}
	&__img {
		max-width: 100%;
		display: block;
	}
	&__p-title-outer {
		margin-bottom: $gutter/2;
		pointer-events: auto;
		background-color: white;
		@include media-query($bp-midrange) {
			float: left;
			width: $col-6;
			margin-bottom: 0;
			left: -$gutter;
			padding: 0 .35em .25em .35em;
			position: relative;
		}
		@include media-query($bp-wide) {
			width: 40%;
			padding: 0 .55em .15em .55em;
		}
	}
	&__p-title {
		@include copy-hed;
		@include copy-caps;
		font-size: $size-h4;
		@include link-border;
		display: inline;
		line-height: 1.25em;
		@include media-query($bp-midrange) {
			position: relative;
			top: -.15em;
		}
		@include media-query(1140px) {
			font-size: $size-h3;
		}
		@include media-query(1320px) {
			font-size: $size-h3;
		}
	}
}

.section.writing {
	//@include max-width;
	.section__title {
		//padding: 0;
	}
	.writing__list {
		list-style-type: none;
		margin-bottom: $gutter*3;
	}
	.writing__list-item {
		margin-bottom: $gutter*2;
		padding: 0 $gutter/2;
		@include media-query($bp-midrange) {
			width: $col-6;
		}
		a {
			@include button-shadow;
			background-color: black;
			right: 0;
			padding: .5em;
			padding-bottom: .65em;
			display: inline-block;
			.btn-text {
				@include copy-hed;
				@include copy-caps;
				font-size: $size-h4;
				margin-bottom: .35em;
				color: white;
				@include media-query(1140px) {
					font-size: $size-h3;
				}
				@include media-query(1320px) {
					font-size: $size-h3;
				}
			}
			.btn-label {
				@include button-text;
				color: $mid-gray;
				//text-align: right;
			}
		}
	}
}

/* -- covers -- */

.header.hcover {
	position: relative;
	height: 100%;
	margin-bottom: $gutter*2;
	padding-top: 0;
	@include media-query($bp-midrange) {
		margin-bottom: $gutter*2.5;
	}
	@include media-query($bp-narrow) {
		padding-top: $gutter;
	}
	.header__hgroup {
		background-color: white;
		padding-top: $gutter/2;
		z-index: 2;
		@include media-query($bp-narrow) {
			padding-top: 0;
			background-color: transparent;
		}
	}
	.header__sub {
		background-color: white;
		padding-bottom: .175em;
		display: block;
		@include media-query($bp-narrow) {
			display: inline;
		}
		.br {
			@include media-query($bp-narrow) {
				display: block;
			}
		}
	}
}

.big-arrow {
	position: absolute;
	bottom: $gutter;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	width: 75%;
	height: 550%;
	background-position: 50% 100%;
	@include icon-big-arrow;
	@include media-query($bp-wide) {
		bottom: $gutter*1.5;
	}
	&__instruct {
		position: absolute;
		bottom: 2.15%;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		color: white;
		@include copy-hed;
		@include copy-caps;
		font-size: $size-copy-exsm;
		@include media-query($bp-narrow) {
			bottom: 3%;
		}
		@include media-query($bp-midrange) {
			font-size: $size-copy-sm;
			bottom: 3.5%;
		}
	}
}

/* -- type covers -- */

/*
.hcover {
	position: relative;
	height: 100%;
	min-height: 480px;
	margin-bottom: $gutter*2;
	@include media-query($bp-narrow) {
		min-height: 580px;
	}
	@include media-query($bp-midrange) {
		min-height: 700px;
		margin-bottom: $gutter*2.5;
	}
	&__image {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 1000px;
		padding: 0 $gutter/2 $gutter $gutter/2;
		@include media-query($bp-narrow) {
			padding: 0 $gutter $gutter $gutter;
		}
		@media (max-height: 767px) {
			max-width: 933px;
		}
	}
	&__link {
		position: absolute;
		bottom: -25px;
		right: $gutter/2;
		@include copy-hed;
		font-size: $size-copy-exsm;
		color: $mid-gray;
		//border-bottom: 1px solid $mid-gray;
		line-height: 1.1em;
		@include media-query($bp-wide) {
			right: $gutter;
		}
		sup {
			position: absolute;
			top: 0;
			left: -.4em;
			font-size: 1.3em;
		}
	}
}

.hcover {
	&__image.confirm-deny-spy {
		max-width: 1300px;
		bottom: 0;
		@media (max-height: 767px) {
			max-width: 1300px;
		}
		@include media-query($bp-midrange) {
			bottom: 5%;
		}
		
		@media (max-height: 490px) and (min-width: 350px) {
			width: 80%;
		}
		@media (max-height: 510px) and (min-width: 400px) {
			width: 80%;
		}
		@media (max-height: 560px) and (min-width: 450px) {
			width: 80%;
		}
		@media (max-height: 590px) and (min-width: 480px) {
			width: 75%;
		}
		@include media-query($bp-narrow) {
			width: 80%;
		}
		@media (max-height: 670px) and (min-width: 510px) {
			width: 75%;
		}
		@include media-query($bp-midrange) {
			width: 100%;
		}
	}
}
*/

.hide-narrow {
	@include media-query($bp-narrow) {
		display: none;
	}
}
.show-narrow {
	display: none;
	@include media-query($bp-narrow) {
		display: block;	
	}
}
.hide-midrange {
	@include media-query($bp-midrange) {
		display: none;
	}
}
.show-midrange {
	display: none;
	@include media-query($bp-midrange) {
		display: block;	
	}
}

