body, html {
	height: 100%;
}

.cover {
	position: relative;
	height: 100%;
	min-height: 480px;
	@include media-query($bp-midrange) {
		min-height: 700px;		
	}
	&__image {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 1000px;
		padding: 0 $gutter/2 $gutter $gutter/2;
		@include media-query($bp-narrow) {
			padding: 0 $gutter $gutter $gutter;
		}
		@media (max-height: 767px) {
			max-width: 933px;
		}
	}
}

.section {
	@include max-width-grid;
	margin-top: $gutter/2;
	&__title {
		@include copy-hed;
		@include copy-caps;
		font-size: $size-h5;
		padding: 0 $gutter/2;
		margin-bottom: $gutter;
	}
	&__title:before {
		@include before-after;
		width: $gutter;
		border-bottom: 2px solid $light-gray;
		margin-bottom: .5em;
	}
	&__list {
		list-style-type: none;
		@include clearfix;
		margin: 0;
	}
	&__list-item {
		padding: 0 $gutter/2;
		@include media-query($bp-midrange) {
			@include grid;
			width: $col-6;
		}
		margin-bottom: $gutter*2;
		a {
			@include clearfix;
			display: block;
			pointer-events: none;
		}
	}
	&__img-outer {
		margin-bottom: $gutter/2;
		pointer-events: auto;
		@include media-query($bp-midrange) {
			float: left;
			width: $col-6;
			margin-bottom: 0;
		}
	}
	&__img {
		max-width: 100%;
		display: block;
	}
	&__p-title-outer {
		margin-bottom: $gutter/2;
		pointer-events: auto;
		background-color: white;
		@include media-query($bp-midrange) {
			float: left;
			width: $col-6;
			margin-bottom: 0;
			left: -$gutter;
			padding: 0 .35em .25em .35em;
			position: relative;
		}
		@include media-query($bp-wide) {
			width: 40%;
			padding: 0 .55em .15em .55em;
		}
	}
	&__p-title {
		@include copy-hed;
		@include copy-caps;
		font-size: $size-h4;
		@include link-border;
		display: inline;
		line-height: 1.25em;
		@include media-query($bp-midrange) {
			position: relative;
			top: -.15em;
		}
		@include media-query(1140px) {
			font-size: $size-h3;
		}
		@include media-query(1320px) {
			font-size: $size-h3;
		}
	}
}

.section.writing {
	//@include max-width;
	.section__title {
		//padding: 0;
	}
	.writing__list {
		list-style-type: none;
		margin-bottom: $gutter*3;
	}
	.writing__list-item {
		margin-bottom: $gutter*2;
		padding: 0 $gutter/2;
		@include media-query($bp-midrange) {
			width: $col-6;
		}
		a {
			@include button-shadow;
			background-color: black;
			right: 0;
			padding: .5em;
			padding-bottom: .65em;
			display: inline-block;
			.btn-text {
				@include copy-hed;
				@include copy-caps;
				font-size: $size-h4;
				margin-bottom: .35em;
				color: white;
				@include media-query(1140px) {
					font-size: $size-h3;
				}
				@include media-query(1320px) {
					font-size: $size-h3;
				}
			}
			.btn-label {
				@include button-text;
				color: $mid-gray;
				//text-align: right;
			}
		}
	}
}



