@mixin copy-hed {
	font-family: $decima;
	font-weight: normal;
}

@mixin copy {
	font-family: $tiempos;
	font-weight: normal;
	font-size: $size-copy;
	line-height: 1.7em;
}

@mixin copy-caps {
	text-transform: uppercase;
	letter-spacing: .05em;

}

@mixin copy-small {
	@include copy;
	font-size: $size-copy-sm;
}

@mixin grid {
	padding: 0 $gutter/2;
	float: left;
}

@mixin max-width {
	max-width: 1400px;
	padding: 0 $gutter/2;
	@include media-query($bp-wide) {
		padding: 0 $gutter;
		margin: 0 auto;
	}
}

@mixin max-width-grid {
	@include max-width;
	padding: 0;
	@include media-query($bp-wide) {
		padding: 0 $gutter/2;
	}
}

@mixin stock-column {
	padding: 0 $gutter/2;
	//margin: 1em 0;
	@include media-query($bp-wide) {
		width: 690px;
		margin-left: auto;
		margin-right: auto;
	}
}

@mixin link-border {
	border-bottom: 1px solid black;
}

@mixin clearfix {
	content: "";
	display: table;
	clear: both;
}



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}