@mixin copy-hed {
	font-family: $decima;
	font-weight: normal;
}

@mixin copy {
	font-family: $tiempos;
	font-weight: normal;
	font-size: $size-copy;
	line-height: 1.7em;
}

@mixin copy-caps {
	text-transform: uppercase;
	letter-spacing: .05em;

}

@mixin copy-small {
	@include copy;
	font-size: $size-copy-sm;
}

@mixin grid {
	padding: 0 $gutter/2;
	float: left;
}

@mixin max-width {
	max-width: 1400px;
	padding-left: $gutter/2;
	padding-right: $gutter/2;
	@include media-query($bp-wide) {
		padding-left: $gutter;
		padding-right: $gutter;
		margin-left: auto;
		margin-right: auto;
	}
}

@mixin max-width-grid {
	@include max-width;
	padding: 0;
	@include media-query($bp-wide) {
		padding: 0 $gutter/2;
	}
}

@mixin stock-column {
	padding: 0 $gutter/2;
	//margin: 1em 0;
	@include media-query($bp-wide) {
		width: 690px;
		margin-left: auto;
		margin-right: auto;
	}
}

@mixin stock-column-flex {
	padding: 0 $gutter/2;
	@include media-query($bp-wide) {
		width: $col-6;
		max-width: 690px;
		margin-left: auto;
		margin-right: auto;
	}
}

@mixin content-column {
	@include stock-column;
	margin-Left: 0;
	@include media-query($bp-wide) {
		margin-left: $col-1;
		padding: 0 $gutter;
	}
	@include media-query(1150px) {
		margin-left: auto;
		margin-right: auto;
		@include stock-column-flex;
		padding: 0 $gutter/2;
	}
}

@mixin link-border {
	border-bottom: 1px solid black;
}

@mixin button-pre {
	text-transform: uppercase;
	font-family: $decima;
	font-size: 2.4em;
	line-height: .75em;
}

@mixin button-text {
	@include copy-caps;
	font-family: $tiempos-italic;
	font-size: 15px;
}

@mixin before-after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
}

@mixin clearfix {
	content: "";
	display: table;
	clear: both;
}



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}