@mixin copy-hed {
	font-family: $decima;
	font-weight: normal;
}

@mixin copy {
	font-family: $tiempos;
	font-weight: normal;
	font-size: $size-copy;
	line-height: 1.7em;
}

@mixin copy-caps {
	text-transform: uppercase;
	letter-spacing: .05em;

}

@mixin copy-small {
	@include copy;
	font-size: $size-copy-sm;
}

@mixin grid {
	padding: 0 $gutter/2;
	float: left;
}

@mixin max-width {
	max-width: 1400px;
	padding-left: $gutter/2;
	padding-right: $gutter/2;
	@include media-query($bp-wide) {
		padding-left: $gutter;
		padding-right: $gutter;
		margin-left: auto;
		margin-right: auto;
	}
}

@mixin max-width-10 {
	max-width: 1167px;
}
@mixin max-width-8 {
	max-width: 933px;
}

@mixin max-width-grid {
	@include max-width;
	padding: 0;
	@include media-query($bp-wide) {
		padding: 0 $gutter/2;
	}
}

@mixin stock-column {
	padding: 0 $gutter/2;
	//margin: 1em 0;
	@include media-query($bp-wide) {
		width: 690px;
		margin-left: auto;
		margin-right: auto;
	}
}

@mixin stock-column-flex {
	padding-left: $gutter/2;
	padding-right: $gutter/2;
	@include media-query($bp-wide) {
		width: $col-6;
		max-width: 690px;
		margin-left: auto;
		margin-right: auto;
	}
}

@mixin content-column {
	@include stock-column;
	margin-Left: 0;
	@include media-query($bp-wide) {
		margin-left: $col-1;
		padding-left: $gutter;
		padding-right: $gutter;
	}
	@include media-query(1150px) {
		margin-left: auto;
		margin-right: auto;
		@include stock-column-flex;
		padding-left: $gutter/2;
		padding-right: $gutter/2;
	}
}

@mixin content-chunk {
	margin-top: 1em;
	margin-bottom: 2em;
}

@mixin link-border {
	border-bottom: 2px solid $accent;
}

@mixin button-pre {
	text-transform: uppercase;
	font-family: $decima;
	font-size: 2.4em;
	line-height: .75em;
}

@mixin button-text {
	@include copy-caps;
	font-family: $tiempos-italic;
	font-size: 15px;
}

@mixin button-shadow {
	box-shadow: 5px 5px 0 $light-gray;
	position: relative;
	right: 5px;
}

@mixin inner-shadow-light-small {
	-moz-box-shadow: inset 0 0 $gutter rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0 $gutter rgba(0,0,0,0.1);
	box-shadow: inset 0 0 $gutter rgba(0,0,0,0.1);
}

@mixin inner-shadow-light-med {
	-moz-box-shadow: inset 0 0 $gutter*2 rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0 $gutter*2 rgba(0,0,0,0.1);
	box-shadow: inset 0 0 $gutter*2 rgba(0,0,0,0.1);
}
@mixin inner-shadow-lighter-med {
	-moz-box-shadow: inset 0 0 $gutter*2 rgba(0,0,0,0.075);
	-webkit-box-shadow: inset 0 0 $gutter*2 rgba(0,0,0,0.075);
	box-shadow: inset 0 0 $gutter*2 rgba(0,0,0,0.075);
}

@mixin shadow {
	box-shadow: 0 0 2em rgba(0,0,0,0.1);
}

@mixin slash {
	content: "/";
	display: inline-block;
	height: 1em;
	width: 1em;
	font-size: 15px;
	font-family: $tiempos;
	padding-left: 8px;
}

@mixin hr-asterisk {
	@include slash;
	content: "***********************************************************************************************************************************************************************************************************************";
	width: 100%;
	overflow: hidden;
	letter-spacing: .35em;
	padding-left: 0;
}

@mixin hr-slash {
	@include hr-asterisk;
	content: "///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////";
}

@mixin hr-tic {
	@include hr-asterisk;
	content: "``````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````";
}

@mixin before-after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
}

@mixin clearfix {
	content: "";
	display: table;
	clear: both;
}



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}