.header {
	@include max-width;
	padding-top: $gutter;
	padding-bottom: $gutter;
	position: relative;
	@include media-query($bp-wide) {
		padding-top: $gutter;
		padding-bottom: $gutter;
	}
	&__hgroup {
		@include media-query($bp-wide) {
			float: left;
		}
	}
	&__title {
		font-size: $size-h5;
		@include copy-caps;
		margin-bottom: .15em;
		a {
			@include link-border;
		}
	}
	&__sub {
		@include copy;
		font-family: $tiempos-italic;
		line-height: 1.25em; 
		font-size: $size-h3;
		margin-bottom: 0;
	}
	.nav {
		position: absolute;
		top: 50%;
		right: $gutter/2;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		@include media-query($bp-wide) {
			right: $gutter;
		}
		@include media-query($bp-wide) {
			float: right;
		}
	}
}
.header:after {
	@include clearfix;
}

.nav {
	text-align: center;
	&__list {
		list-style-type: none;
		margin: 0;
	}
	&__list-item {
		display: inline-block;
		a {
			display: inline-block;
		}

		.pre {
			display: block;
			text-transform: uppercase;
			font-family: $decima;
			font-size: 2.4em;
			margin-bottom: 0;
			line-height: .75em;
		}
		.text {
			display: block;
			@include copy-caps;
			font-family: $tiempos-italic;
			font-size: 15px;
			@include link-border;
			padding-bottom: .2em;
			position: relative;
			left: -.1em;
		}
	}
	&__list-item.inactive {
		a {
			color: $light-gray;
			pointer-events: none;
       		cursor: default;
		}
		.text {
			border-color: $light-gray;
		}
	}
	&__list-item:first-child {
		padding-bottom: 5px;
		padding-top: 10px;
	}
	&__list-item:first-child:after {
		content: "/";
		display: inline-block;
		height: 1em;
		width: 1em;
		font-size: 15px;
		font-family: $tiempos;
		padding-left: 8px;
		vertical-align: 1em;
	}
	&__list-item:nth-child(2) {
		padding-left: 7px;
		padding-bottom: 5px;
		padding-top: 10px;
	}
	&__list-item--stacked {
		display: block;
		font-family: $decima;
		font-size: 2.4em;
		text-transform: uppercase;
		a {
			@include link-border;
		}
	}
	&__list-item--stacked:before {
		content: "—";
		display: block;
		height: 1em;
		width: 1em;
		font-size: 15px;
		font-family: $tiempos;
		margin: 0 auto;
		padding-bottom: 20px;
	}
}

.nav--secondary {
		@include content-column;
		margin-top: $gutter*2;
		margin-bottom: $gutter*2;
		text-align: left;
		.text {
			font-family: $decima;
			font-size: $size-copy-sm;
			padding-bottom: 0;

		}
	.nav__list-item:first-child:after, .nav__list-item:nth-child(2):after  {
		content: "/";
		display: inline-block;
		height: 1em;
		width: 1em;
		font-size: 15px;
		font-family: $tiempos;
		padding-left: 8px;
		vertical-align: 0;
	}
	.nav__list-item--stacked:before {
		content: none;
	}
	.nav__list-item:nth-child(3) {
		padding-left: 7px;
		padding-bottom: 5px;
		padding-top: 10px;
	}
}

.main {
	@include max-width;
	margin-bottom: $gutter;
	@include media-query($bp-wide) {
		margin-bottom: $gutter;
	}
	img {
		width: 100%;
	}
}

.info {
	@include max-width-grid;
	&__container {
		@include grid;
		float: right;
		width: $col-2;
		width: 228px;
		padding: .65em $gutter/2 $gutter/2;
	}
	&__roles {
		border: 4px solid $light-gray;
		padding: 5px
	}
	&__role-hed {
		@include copy-hed;
		@include copy-caps;
		font-size: $size-copy-exsm;
		margin-bottom: .5em;
		//color: $mid-gray;
	}
	&__role-list {
		list-style-type: none;
		@include copy-hed;
		@include copy-caps;
		font-size: $size-copy-exsm;
		margin-top: 0;
		margin-bottom: 0;
	}
	&__role-list-item {
		margin-bottom: .35em;
	}
	&__role-list-item:before {
		content: "-";
		margin-right: .2em;

	}
}

.content {
	&__main {
		p {
			@include content-column;
			> a {
				@include link-border;
			}
		}
	}
}

.footer {
	@include max-width;
	&__list {
		list-style-type: none;
	}
}



