/*
.header__title a, .nav__list-item a, .nav__list-item a .text, .content__main p > a, .projects__list-item a .projects__title {
	transition: color .2s linear, border-color .2s linear;
}

.header__title a:hover, .nav__list-item a:hover, .nav__list-item a:hover .text, .content__main p > a:hover, .projects__list-item a:hover .projects__title {
	color: $mid-gray;
	border-color: $mid-gray;
}
*/

.header {
	@include max-width;
	padding-top: $gutter;
	padding-bottom: $gutter;
	position: relative;
	@include media-query($bp-wide) {
		padding-top: $gutter;
		padding-bottom: $gutter;
	}
	&__hgroup {
		position: relative;
		@include media-query($bp-wide) {
			//float: left;
		}
	}
	/*
	&__hgroup:after {
		@include hr-asterisk;
		position: absolute;
		bottom: -2.5em;
	}
	*/
	&__title {
		font-size: $size-h5;
		@include copy-caps;
		margin-bottom: .15em;
		a {
			@include link-border;
		}
	}
	&__sub {
		@include copy;
		font-family: $tiempos-italic;
		line-height: 1.25em; 
		font-size: $size-h4;
		margin-bottom: 0;
		position: relative;
		//margin-left: 1em;
		@include media-query(340px) {
			font-size: $size-h3;
		}
	}
	&__dash {
		position: absolute;
		top: 0;
		left: -1em;
	}
	.nav {
		position: absolute;
		top: 50%;
		right: $gutter/2;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		@include media-query($bp-wide) {
			right: $gutter;
		}
		@include media-query($bp-wide) {
			float: right;
		}
	}
}
.header:after {
	@include clearfix;
}

.nav {
	text-align: center;
	&__list {
		list-style-type: none;
		margin: 0;
	}
	&__list-item {
		display: inline-block;
		a {
			display: inline-block;
		}

		.pre {
			@include button-pre;
			display: block;
			margin-bottom: 0;
		}
		.text {
			@include button-text;
			@include link-border;
			padding-bottom: .2em;
			position: relative;
			left: -.1em;
			display: block;
		}
	}
	&__list-item.inactive {
		a {
			color: $light-gray;
			pointer-events: none;
       		cursor: default;
		}
		.text {
			border-color: $light-gray;
		}
	}
	&__list-item:first-child {
		padding-bottom: 5px;
		padding-top: 10px;
	}
	&__list-item:first-child:after {
		@include media-query(340px) {
			@include slash;
			vertical-align: 1em;
		}
	}
	&__list-item:nth-child(2) {
		padding-bottom: 5px;
		padding-top: 10px;
		@include media-query(340px) {
			padding-left: 7px;
		}
	}
	&__list-item--stacked {
		display: block;
		font-family: $decima;
		font-size: 2.4em;
		text-transform: uppercase;
		a {
			@include link-border;
		}
	}
	&__list-item--stacked:before {
		content: "—";
		display: block;
		height: 1em;
		width: 1em;
		font-size: 15px;
		font-family: $tiempos;
		margin: 0 auto;
		padding-bottom: 20px;
	}
}

.nav--primary {
	display: none;
	@include media-query($bp-midrange) {
		display: block;
	}
}

.nav--secondary {
	@include content-column;
	margin-top: $gutter*2;
	margin-bottom: $gutter*2;
	text-align: left;
	.text {
		font-family: $decima;
		font-size: $size-copy-sm;
		padding-bottom: 0;

	}
	.nav__list-item {
		display: block;
		@include media-query(340px) {
			display: inline-block;
		}
	}
	.nav__list-item:first-child:after, .nav__list-item:nth-child(2):after  {
		@include media-query(340px) {
			@include slash;
			vertical-align: 0;
		}
	}
	.nav__list-item--stacked:before {
		content: none;
	}
	.nav__list-item:nth-child(3) {		
		padding-bottom: 5px;
		padding-top: 10px;
		@include media-query(340px) {
			padding-left: 7px;
		}
	}
}

.cover {
	@include max-width;
	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
}

.thin {
	@include max-width-10;
	margin-left: auto;
	margin-right: auto;
}

.cover:after {
	@include clearfix;
}

.cover-outer {
	margin-bottom: $gutter;
	@include media-query($bp-wide) {
		margin-bottom: $gutter*2;
	}
}

.cover-outer--fill {
	background-color: $super-light-gray;
	padding: $gutter 0;
}

.split {
	@include media-query($bp-wide) {
		width: $col-6;
		@include grid;
	}

	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
}
.split:first-child {
	padding-bottom: $gutter;
	@include media-query($bp-wide) {
		padding-left: 0;
		padding-bottom: 0;
	}
}
.split:last-child {
	@include media-query($bp-wide) {
		padding-right: 0;
	}
}
.split.mobile:first-child {
	@include media-query($bp-wide) {
		width: $col-9;
	}
}
.split.mobile:last-child {
	@include media-query($bp-wide) {
		width: $col-3;
	}
}

.split.mobile.m {
	img {
		width: 100%;
		max-width: 320px;
	}
}

.row:first-child {
	margin-bottom: $gutter*2;
}
.row:after {
	@include clearfix;
}

.thirds, .sixths, .fourths {
	@include media-query($bp-wide) {
		width: $col-4;
		@include grid;
	}

	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
}
.sixths {
	@include media-query($bp-wide) {
		width: $col-2;
	}
}
.fourths {
	@include media-query($bp-wide) {
		width: $col-3;
	}
}
.thirds:first-child, .sixths:first-child, .fourths:first-child {
	padding-bottom: $gutter;
	@include media-query($bp-wide) {
		padding-left: 0;
		padding-bottom: 0;
	}
}
.thirds:nth-child(2), .sixths:nth-child(2), .sixths:nth-child(3), .sixths:nth-child(4), .sixths:nth-child(5), .fourths:nth-child(2), .fourths:nth-child(3) {
	padding-bottom: $gutter;
	@include media-query($bp-wide) {
		padding-bottom: 0;
	}
}
.thirds:last-child, .sixths:last-child, .fourths:last-child {
	@include media-query($bp-wide) {
		padding-right: 0;
	}
}
.thirds--pol {
	@include media-query($bp-midrange) {
		padding-left: $gutter;
		padding-right: $gutter;
	}
	@include media-query($bp-wide) {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}
.police .inline-borders:before {
	padding-bottom: $gutter*1.5;
}
.police .inline-borders:after {
	padding-top: $gutter*1.5;
}

.info {
	@include max-width-grid;
	&__container {
		padding: .65em $gutter/2 $gutter*1.5;
		@include media-query($bp-midrange) {
			@include grid;
			float: right;
			width: 228px;
			padding: 0 $gutter/2 $gutter/2 $gutter;
		}
		@include media-query(1150px) {
			float: left;
			padding: 0 $gutter $gutter/2 $gutter/2;
		}
	}
	&__roles {
		padding: 10px;
		border: 2px solid $light-gray;
	}
	&__role-hed {
		@include copy-hed;
		@include copy-caps;
		font-size: $size-copy-exsm;
		margin-bottom: .5em;
		//color: $mid-gray;
	}
	&__role-list {
		list-style-type: none;
		@include copy-hed;
		@include copy-caps;
		font-size: $size-copy-exsm;
		margin-top: 0;
		margin-bottom: 0;
	}
	&__role-list-item {
		margin-bottom: .35em;
	}
	&__role-list-item:before {
		content: "-";
		margin-right: .2em;

	}
	&__view-button {
		@include button-shadow;
		color: white;
		background-color: black;
		text-align: center;
		display: block;
		padding: .25em;
		margin-bottom: $gutter/2;
		.pre {
			@include button-pre;
		}
		.text {
			@include button-text;
			display: inline-block;
			&__first, &__last {
				display: block;
			}
		}
	}
	/*
	&__view-button:hover {
		background-color: #666;
	}
	*/
}

.content {
	&__date {
		@include content-column;
		@include copy-hed;
		@include copy-caps;
		font-size: $size-copy-exsm;
		color: $mid-gray;
	}
	&__main {
		p {
			@include content-column;
			@include content-chunk;
			> a {
				@include link-border;
			}
			> img {
				max-width: 100%;
				margin: .5em 0;
			}
		}
		> h2, > h3, > h4, > h5, > h6 {
			@include content-column;
			margin-bottom: -.25em;
		}
		h2 {
			font-size: $size-h4;
			@include copy-caps;
			@include media-query($bp-wide) {
				font-size: $size-h3;
			}
		}
		h2:before {
			@include before-after;
			width: $gutter;
			border-bottom: 2px solid $light-gray;
			margin-bottom: .5em;
		}
	}
}

.inline {
	margin: 2.5em 0;
	img {
		max-width: 100%;
	}
}

.inline--wide {
	@include max-width;
	img {
			max-width: 100%;
	}
}

.inline--column {
	@include content-column;
}
.inline-borders:before {
	border-top: $hr-gray;
	@include before-after;
	padding-bottom: $gutter;
}
.inline-borders:after {
	border-bottom: $hr-gray;
	@include before-after;
	padding-top: $gutter;
}

.inline--wide-fill {
	background-color: $super-light-gray;
	.inline__fill-inner {
		@include max-width;
		padding-top: $gutter;
		padding-bottom: $gutter;

		img {
			max-width: 100%;
		}
	}
	.inline__fill-inner.thin {
		@include max-width-10;
	}
}

.inline__fill-inner--column {
	@include content-column;
	padding-top: $gutter;
	padding-bottom: $gutter;
}

.thirds.unequal:nth-child(1) {
	padding-bottom: $gutter;
	@include media-query($bp-wide) {
		@include grid;
		width: $col-7;
		padding-left: 0;
		padding-bottom: 0;
	}
}
.thirds.unequal:nth-child(2) {
	display: none;
	@include media-query($bp-wide) {
		@include grid;
		width: $col-3;
		display: block;
	}
}
.thirds.unequal:nth-child(3) {
	text-align: center;
	@include media-query($bp-wide) {
		@include grid;
		width: $col-2;
		padding-right: 0;
	}
}
.stack {
	padding-bottom: $gutter;
}
.stack:last-child {
	padding-bottom: 0;
}

.inline__fill-inner:after {
	@include clearfix;
}

.footer {
	@include max-width;
	&__inner {
		border-top: 1px solid $exex-light-gray;
	}
	&__inner:before {
		//@include hr-asterisk;
	}
	&__nav {
		list-style-type: none;
		//@include content-column;
		padding: 0;
		font-family: $decima;
		font-size: $size-copy-exsm;
		padding-bottom: $gutter*2;
		@include media-query($bp-wide) {
			padding: 0;
			padding-bottom: $gutter*2;
		}
	}
	&__nav-item {
		display: inline-block;
		margin-right: $gutter/2;
		a {
			@include link-border;
		}
	}
}



