.header {
	@include max-width;
	padding-top: $gutter;
	padding-bottom: $gutter;
	position: relative;
	@include media-query($bp-wide) {
		padding-top: $gutter;
		padding-bottom: $gutter;
	}
	&__hgroup {
		@include media-query($bp-wide) {
			float: left;
		}
	}
	&__title {
		font-size: $size-h5;
		@include copy-caps;
		margin-bottom: .15em;
		a {
			@include link-border;
		}
	}
	&__sub {
		@include copy;
		font-family: $tiempos-italic;
		line-height: 1.25em; 
		font-size: $size-h3;
		margin-bottom: 0;
	}
	.nav {
		position: absolute;
		top: 50%;
		right: $gutter/2;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		@include media-query($bp-wide) {
			right: $gutter;
		}
		@include media-query($bp-wide) {
			float: right;
		}
	}
}
.header:after {
	@include clearfix;
}

.nav {
	text-align: center;
	&__list {
		list-style-type: none;
		margin: 0;
	}
	&__list-item {
		display: inline-block;
		a {
			display: inline-block;
		}

		.pre {
			@include button-pre;
			display: block;
			margin-bottom: 0;
		}
		.text {
			@include button-text;
			@include link-border;
			padding-bottom: .2em;
			position: relative;
			left: -.1em;
			display: block;
		}
	}
	&__list-item.inactive {
		a {
			color: $light-gray;
			pointer-events: none;
       		cursor: default;
		}
		.text {
			border-color: $light-gray;
		}
	}
	&__list-item:first-child {
		padding-bottom: 5px;
		padding-top: 10px;
	}
	&__list-item:first-child:after {
		content: "/";
		display: inline-block;
		height: 1em;
		width: 1em;
		font-size: 15px;
		font-family: $tiempos;
		padding-left: 8px;
		vertical-align: 1em;
	}
	&__list-item:nth-child(2) {
		padding-left: 7px;
		padding-bottom: 5px;
		padding-top: 10px;
	}
	&__list-item--stacked {
		display: block;
		font-family: $decima;
		font-size: 2.4em;
		text-transform: uppercase;
		a {
			@include link-border;
		}
	}
	&__list-item--stacked:before {
		content: "—";
		display: block;
		height: 1em;
		width: 1em;
		font-size: 15px;
		font-family: $tiempos;
		margin: 0 auto;
		padding-bottom: 20px;
	}
}

.nav--primary {
	display: none;
	@include media-query($bp-midrange) {
		display: block;
	}
}

.nav--secondary {
		@include content-column;
		margin-top: $gutter*2;
		margin-bottom: $gutter*2;
		text-align: left;
		.text {
			font-family: $decima;
			font-size: $size-copy-sm;
			padding-bottom: 0;

		}
	.nav__list-item:first-child:after, .nav__list-item:nth-child(2):after  {
		content: "/";
		display: inline-block;
		height: 1em;
		width: 1em;
		font-size: 15px;
		font-family: $tiempos;
		padding-left: 8px;
		vertical-align: 0;
	}
	.nav__list-item--stacked:before {
		content: none;
	}
	.nav__list-item:nth-child(3) {
		padding-left: 7px;
		padding-bottom: 5px;
		padding-top: 10px;
	}
}

.cover {
	@include max-width;
	img {
		width: 100%;
	}
	&__split {
		@include media-query($bp-wide) {
			width: $col-6;
			@include grid;
		}
	}
	&__split:first-child {
		@include media-query($bp-wide) {
			padding-left: 0;
		}
	}
	&__split:last-child {
		@include media-query($bp-wide) {
			padding-right: 0;
		}
	}
}

.cover:after {
	@include clearfix;
}

.cover-outer {
	margin-bottom: $gutter;
	@include media-query($bp-wide) {
		margin-bottom: $gutter*1.5;
	}
}

.cover-outer--fill {
	background-color: $super-light-gray;
	padding: $gutter 0;
}

.info {
	@include max-width-grid;
	&__container {
		padding: .65em $gutter/2 $gutter/2;
		@include media-query($bp-midrange) {
			@include grid;
			float: right;
			width: 228px;
			padding: .65em $gutter/2 $gutter/2 $gutter;
		}
	}
	&__roles {
		//border: 4px solid $light-gray;
		padding: 10px;
		background-color: $super-light-gray;
	}
	&__role-hed {
		@include copy-hed;
		@include copy-caps;
		font-size: $size-copy-exsm;
		margin-bottom: .5em;
		//color: $mid-gray;
	}
	&__role-list {
		list-style-type: none;
		@include copy-hed;
		@include copy-caps;
		font-size: $size-copy-exsm;
		margin-top: 0;
		margin-bottom: 0;
	}
	&__role-list-item {
		margin-bottom: .35em;
	}
	&__role-list-item:before {
		content: "-";
		margin-right: .2em;

	}
	&__view-button {
		color: white;
		background-color: black;
		text-align: center;
		display: block;
		padding: .25em;
		margin-bottom: $gutter/2;
		.pre {
			@include button-pre;
		}
		.text {
			@include button-text;
			display: inline-block;
			&__first, &__last {
				display: block;
			}
		}
	}
}

.content {
	&__main {
		p {
			@include content-column;
			> a {
				@include link-border;
			}
			> img {
				width: 100%;
				margin: .5em 0;
			}
		}
	}
}

.inline {
	margin: 2em 0;
	> img {
		width: 100%;
	}
}

.inline--wide {
	@include max-width;
	img {
			width: 100%;
	}
}

.inline--column {
	@include content-column;
}
.inline-borders:before {
	border-top: $hr-gray;
	@include before-after;
	padding-bottom: $gutter;
}
.inline-borders:after {
	border-bottom: $hr-gray;
	@include before-after;
	padding-top: $gutter;
}

.inline--wide-fill {
	background-color: $super-light-gray;
	.inline__fill-inner {
		@include max-width;
		padding: $gutter 0;

		img {
			width: 100%;
		}
	}

	.inline__fill-inner--column {
		@include content-column;
	}

	.z-map-lg {
		@include grid;
		width: $col-7;
		padding-left: 0;
	}
	.z-map-md {
		@include grid;
		width: $col-3;
	}
	.z-map-sm {
		@include grid;
		width: $col-2;
		padding-right: 0;
	}
	.z-chart1 {
		//@include grid;
		//width: $col-4;
		//padding-left: 0;
		padding-bottom: $gutter;
		padding-top: $gutter;
	}
	.z-chart2 {
		//@include grid;
		//width: $col-5;
		padding-bottom: $gutter;	
	}
	.z-chart3 {
		//@include grid;
		//width: $col-3;
		//padding-right: 0;
		padding-bottom: $gutter;
	}
}

.inline__fill-inner:after {
	@include clearfix;
}

.footer {
	@include max-width;
	&__list {
		list-style-type: none;
	}
}



