.clearfix {
	content: "";
	display: table;
	clear: both;
}

/* -- type -- */

.caps {
	@include copy-caps;
}

.copy {
	@include copy;
}

.hed {
	@include copy-hed;
}

/* -- accents -- */

.border {
	border: 1px solid $ex-light-gray;
}

.shadow {
	box-shadow: 0 0 2em rgba(0,0,0,0.1);
}