/* -- fonts -- */

$decima: 'Decima', sans-serif;
$tiempos: 'TiemposText-Regular', serif;
$tiempos-italic: 'TiemposText-RegularItalic', serif;

/* -- colors -- */

$light-gray: #ccc;
$mid-gray: #888;
$ex-light-gray: #ddd;
$exex-light-gray: #e5e5e5;
$super-light-gray: #f2f2f2;
$accent: black;

/* -- type size -- */
/* 1.2 ratio */

$size-h1: 3.1104em;
$size-h2: 2.592em;
$size-h3: 2.16em;
$size-h4: 1.8em;
$size-h5: 1.5em;
$size-h6: 1.25em;
$size-copy: 1.25em;
$size-copy-m: 1.1875em;
$size-copy-sm: 1.04166667em;
$size-copy-exsm: 0.9375em;
$size-copy-super-sm: 0.875em;

/* -- line-height -- */

$line-height: 1.7em;
$line-height-sm: 1.5em;

/* -- gutters -- */
$gutter: 30px;

/* -- borders -- */

$hr: 1px solid black;
$hr-gray: 1px solid $exex-light-gray;

/* -- media-querys -- */

$bp-narrow: 510px;
$bp-medium: 542px;
$bp-midrange: 650px;
$bp-wide: 890px;
$bp-max: 1400px;