<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {{ content }}

    <div class="footer--home">
		{% include footer.html %}
	</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>

<script>

$(window).scroll(function () { 
	var scrollPos = $(window).scrollTop();
	if (scrollPos > 0) {
  		$('.monogram-outer').addClass('scroll');
	} else {
		$('.monogram-outer').removeClass('scroll');
	}
});

</script>

  </body>
</html>
